@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

html{
font-family: Arial, sans-serif;
}

h1{
font-size: 42px;
font-weight: 900;
color: rgb(71, 71, 71)
}

.image img{
    width: 100%;
    display: block;
}

/** Header **/
header{
background: #fff;
color: #000;
display:flex;
align-items: center;
width: 100%;
height: 64px;
font-size: 22px;
font-family: 'Roboto', sans-serif;
}

.logo{
display: flex;
align-items: center;
padding-left: 24px;
flex-grow: 1;
}

.logo-academy{
    color: rgb(165, 164, 164);
}

header nav{
padding-right: 24px;
font-size: 18px;
}
nav a{
color: #000;
text-decoration: none;
}

nav span{
display: inline-block;
padding-right: 16px;
}
/** End of Header **/

/** Jumbotron **/
.jumbotron{
background: rgb(228, 227, 227);
display: flex;
align-items: center;
}

.jumbotron .image-container{
padding: 32px 24px;
flex: 3;
}

.image-container img{
display: block;
width: 100%;
}

.jumbotron .text-container{
flex: 2;
flex-direction: column;
align-items: flex-start;
padding:0 16px;
}
.text-container-style{
width:75%;
line-height: 1.2;
}

.text-container-style p{
padding-top: 20px;
font-size: 18px;
color: rgb(10, 10, 10);
word-spacing: 10px;
}

.text-container-style .button{
background: rgb(71, 71, 71);
color:#fff;
text-align: center;
margin-top:60px;
padding-bottom: 15px;
}
/** End of Jumbotron **/

/** Information **/
.information{
display: flex;
}

/** LEFT column **/
.left-column{
display: flex;
flex-direction: column;
margin: 32px 24px 0 24px;
}

.text{
margin-top: 32px;
}

.text h2{
font-weight: bold;
font-size: 2.7em;
color: rgb(63, 63, 63)
}

.text p{
padding-top: 32px;
line-height: 1.6;
color: rgb(109, 107, 107)
}

.text .author{
margin-bottom: 32px;
}
/** End of LEFT column**/

/** RIGHT column **/
.right-column{
min-width: 40%;
margin-top: 16px; 
    
}
.info{
display: flex;
margin-bottom :16px;
}

.info-image{
width: 35%;
padding:16px 16px 16px 16px;
}

.info-content{
width: 65%;
padding-top: 50px;
}

.info-content h3{
letter-spacing: 1px;
font-weight: 600;
font-family: 'Lato', sans-serif;
font-size:1.2em;
    
}

.info-content p {
line-height:1.6; 
padding:8px 0;
}

.info-content a{
text-decoration: none;
}

.info-3{
background: rgb(236, 235, 235);
}
/** End of RIGHT column **/
/** End of Information **/

/** Start Learning Section **/
.learning{
background: rgb(228, 227, 227);
display: flex;
flex-direction: column;
}

.learning h1{
    text-align: center;
    margin: 32px 0;
}

.courses{
    display: flex;
    margin:0 72px 32px;
}

.course{
    padding:0 32px 32px 0;
    max-width: 385px;
}

.course-info{
    background: #fff;
    padding: 0 16px 20px 16px;
}

.course-info h3{
    font-size: 1.2em;
    padding-top: 16px;
    font-weight: 500;
    letter-spacing: 1px;;
}

.course-info h4, .course-info p{
    color: rgb(187, 187, 187);
}

.course-info h4{
    text-transform: uppercase;
    padding:8px 0;
}

.course-info p{
    line-height: 1.4;
    letter-spacing: 1.2px;
}


/** End of Learning Section **/